<?xml version="1.0" encoding="UTF-8"?>
<robot name="body" xmlns:xacro="http://ros.org/wiki/xacro"  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor">
  <xacro:macro name="oscar_body" params="name">
    <link name="${name}">
      <inertial>
        <origin xyz="-0.27093 0 0.68573" rpy="0 0 3.14" />
        <mass value="9.21868409" />
        <inertia iyy="0.6" ixy="0" ixz="0" ixx="0.6" iyz="0" izz="0.24" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 3.14" />
        <geometry>
          <mesh filename="package://oscar_description/meshes/body.STL" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 3.14" />
        <geometry>
          <mesh filename="package://oscar_description/meshes/body.STL" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
