<?xml version="1.0"?>
<robot name="oscar" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:include filename="$(find oscar_description)/urdf/oscar.urdf.xacro"/>
<xacro:include filename="$(find hector_sensors_description)/urdf/kinect_camera.urdf.xacro"/>
<xacro:include filename="$(find hector_xacro_tools)/urdf/inertia_tensors.urdf.xacro"/>
<xacro:kinect_camera_model name="kinect_model" parent="base_link" >
  <origin xyz="0 0 0.73" rpy="0 0 ${0*M_PI}" />
</xacro:kinect_camera_model>
<xacro:kinect_camera name="kinect" parent="base_link" >
  <origin xyz="0 0 0.73" rpy="0 0 ${0*M_PI}" />
</xacro:kinect_camera>
<xacro:oscar />


<gazebo>
<plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
  <alwaysOn>true</alwaysOn>
  <updateRate>20</updateRate>
  <leftJoint>front_wheel_left_joint</leftJoint>
  <rightJoint>front_wheel_right_joint</rightJoint>
  <wheelSeparation>0.5380</wheelSeparation>
  <wheelDiameter>0.2410</wheelDiameter>
  <wheelTorque>2.9</wheelTorque>
  <wheelAcceleration>0</wheelAcceleration>
  <commandTopic>$(arg cmd_vel_topic)</commandTopic>
  <odometryTopic>$(arg odom_topic)</odometryTopic>
  <odometryFrame>$(arg odom_frame)</odometryFrame>
  <robotBaseFrame>base_link</robotBaseFrame>
  <legacyMode>false</legacyMode>
  <odometrySource>true</odometrySource>
</plugin>
</gazebo>

</robot>
