<launch>
  <master auto="start"/>

  <!-- Run the map server. TODO add resolution, current 0.1 -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find oscar_navigation)/map/map1.pgm 0.1"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <rosparam file="$(find oscar_navigation)/navigation_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find oscar_navigation)/navigation_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find oscar_navigation)/navigation_config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find oscar_navigation)/navigation_config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find oscar_navigation)/navigation_config/base_local_planner_params.yaml" command="load" />
    <param name="controller_frequency" value="10" />
  </node>
</launch>
