<launch>
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
    <remap from="image"     to="/kinect/depth/image_raw"/>
    <remap from="camera_info" to="/kinect/depth/camera_info"/>
    <remap from="scan" to="/kinect_scan"/>
    <param name="range_max" type="double" value="4"/>
    <param name="output_frame_id" value="/kinect_depth_optical_frame"/>
  </node>

  <!-- SLAM -->
  <group ns="rtabmap">
    <include file="$(find oscar_navigation)/launch/includes/rtabmap_node.launch">
        <arg name="args" value="" />
    </include>
  </group>
</launch>
