<launch>
  <arg name="scan_topic" default="/kinect_scan"/>
  <arg name="scan_frame" default="/kinect_link"/>
  <arg name="camera_depth_info_topic" default="/kinect/depth/camera_info"/>
  <arg name="camera_depth_image_topic" default="/kinect/depth/image_raw"/>

  <!-- SLAM -->
  <group ns="rtabmap">
    <include file="$(find oscar_navigation)/launch/includes/rtabmap_node.launch">
        <arg name="args" value="" />
        <arg name="localization" value="true" />
        <arg name="scan_topic" value="$(arg scan_topic)" />
    </include>
  </group>
</launch>
