<launch>
  <arg name="camera_name" default="camera" />
  <arg name="depth_registration" default="false" />
  <arg name="rgb_frame_id" default="/$(arg camera_name)_rgb_optical_frame"/>
  <arg name="depth_frame_id" default="/$(arg camera_name)_depth_optical_frame"/>
  <arg name="publish_tf" default="true"/>
  <arg name="rgb_processing" default="true"/>
  <arg name="depth_processing" default="true"/>
  <arg name="depth_registered_processing" default="true"/>

  <include file="$(find freenect_launch)/launch/freenect.launch" >
    <arg name="depth_registration" value="$(arg depth_registration)" />
    <arg name="rgb_frame_id" value="$(arg rgb_frame_id)"/>
    <arg name="depth_frame_id" value="$(arg depth_frame_id)"/>
    <arg name="publish_tf" value="$(arg publish_tf)"/>
    <arg name="rgb_processing" value="$(arg rgb_processing)"/>
    <arg name="depth_processing" value="$(arg depth_processing)"/>
    <arg name="depth_registered_processing" value="$(arg depth_registered_processing)"/>
  </include>
</launch>
