<launch>
<!-- SIMULATION -->
  <include file="$(find oscar_simulation)/launch/spawn_oscar.launch" />

  <!-- LOCALIZATION -->
  <!-- <include file="$(find oscar_navigation)/launch/includes/depthimage_to_laserscan.launch"/> -->
  <include file="$(find oscar_navigation)/launch/localization/amcl.launch" />

  <!-- ROUTE PLANNING -->
  <include file="$(find oscar_navigation)/launch/move_base.launch" />\

  <!-- DEBUG/MONITORING TOOLS -->
  <include file="$(find oscar_simulation)/launch/openrviz.launch" />
  <include file="$(find oscar_simulation)/launch/wii.launch" />

</launch>
