<launch>
  <arg name="scan_topic" value="/kinect_scan"/>
  <arg name="scan_frame" value="/kinect_link"/>
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
    <remap from="image"     to="/kinect/depth/image_raw"/>
    <remap from="camera_info" to="/kinect/depth/camera_info"/>
    <remap from="scan" to="$(arg scan_topic)"/>
    <param name="range_max" type="double" value="4"/>
    <param name="output_frame_id" value="$(arg scan_frame)"/>
  </node>

  <!-- SLAM -->
  <group ns="rtabmap">
    <include file="$(find oscar_navigation)/launch/includes/rtabmap_node.launch">
        <arg name="args" value="--delete_db_on_start" />
        <arg name="localization" value="false" />
        <arg name="scan_topic" value="$(arg scan_topic)" />
    </include>
  </group>
</launch>
