<launch>
  <arg name="scan_topic" value="/kinect_scan"/>
  <arg name="scan_frame" value="/kinect_link"/>

  <!-- SLAM -->
  <group ns="rtabmap">
    <include file="$(find oscar_navigation)/launch/includes/rtabmap_node.launch">
        <arg name="args" value="--delete_db_on_start" />
        <arg name="localization" value="false" />
        <arg name="scan_topic" value="$(arg scan_topic)" />
    </include>
  </group>

  <include file="$(find oscar_simulation)/launch/wii.launch"></include>
  <arg name="rvizconfig" default="$(find oscar_navigation)/mapping.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>
